<style type="text/css">
    body{
      text-align:left;
      font-family: sans-serif;
      background-color: #0000ff;

    }
    #header{
      font-size: 200%;
      width: 490px;
      margin:auto;
      background-color: aliceblue;
      color: black;
      border-bottom: 2px solid gray;
      border-right: 2px solid gray;
      border-radius: 10px;
      box-shadow: 10px 10px 5px #888888;
      font-weight: bold;
      padding:10px;
    }
    button{
      font-size: 60%;
      margin:auto;
      border-radius: 10px;
      padding:5px;
      float: right;
    }
    .twits{
      border-bottom: 2px solid gray;
      border-right: 2px solid gray;
      padding: 5px;
      width: 500px;
      margin:auto;
      background-color: aliceblue;
      border-radius: 10px;
      box-shadow: 10px 10px 5px #888888;
    }
    .users{
      font-weight: bold;
    }
    .timestamp{
      font-size: 75%;
      float: right;
      color: gray;
    }
    #home{
      width: 510px;
      margin: auto;
      position: absolute;
      right: 0;
      left: 0;
    }
    #userTimeline{
      width: 510px;
      margin: auto;
      position: absolute;
      right: 0;
      left: 0;
      display:none;

    </style>